ifaddr==0.2.0
keyboard==0.13.5
pip==25.0
zeroconf==0.145.1
keyboard
pyperclip
pyperclip3
pyperclip3-legacy
pyperclip-legacy
pyperclip-ng
pyperclip-x
pyperclip3-ng
socket
struct
tqdm
tkinter
zeroconf
threading
pyinstaller
queue
time
